<!--faculty-->
<div class="title_row">
  <span class="item_title faculty_name">
    {{full_name}}
  </span> 

</div>

<div class="details">
  <div class="faculty_details">

  {{#if home_page}}
    <span class="detail">
    <a href="{{home_page}}" target="_blank">
      home page
      <span class="glyphicon glyphicon-link"> </span>
    </a> 
    </span>
  {{/if}}

  {{#if email}}
    <span class="detail">
    <a href="mailto:{{email}}" target="_blank">
      email
      <span class="glyphicon glyphicon-envelope"> </span>
    </a> 
    </span>
  {{/if}}

  </div>
  
  <ul class="relations">

    {{#if current_interests}}
    <li class="relation">
      <span class="relation_label">Research Topics:</span>
      <ul class="work_interests">
        {{#each current_interests}}
        <li class="related_item topic">
          <span class="topic_name"> {{attributes.name}} </span>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/if}}

    {{#if works}}
    <li class="relation">
      <span class="relation_label">Projects:</span>
      <ul class="works">
        {{#each works}}
        <li class="related_item work">
          <span class="work_title"> {{attributes.title}} </span>
          <!--<span class="work_type">{{collection.config.niceTypeName}}</span>-->
        </li>
        {{/each}}
      </ul>
    </li>
    {{/if}}

    {{#if collaborators}}
    <li class="relation">
      <span class="relation_label">Collaborators:</span>
      <ul class="collaborators">
        {{#each collaborators}}
        <li class="related_item faculty">
          <span class="faculty_name"> {{related_item.attributes.full_name}} </span>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/if}}


    {{#if related_locations}}
    <li class="relation">
      <span class="relation_label">Research Locations:</span>
      <ul class="related_locations">
        {{#each related_locations}}
        <li class="related_item location">
          <span class="location_name"> {{related_item.attributes.name}} </span>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/if}}

    {{#if same_interests}}
    <li class="relation">
      <span class="relation_label">Faculty Focused on similar topics</span>
      <ul class="same_interests">
        {{#each current_interests}}
        {{#if attributes.faculty }}
        <li class="related_item topic">
        {{attributes.name}}
        <ul class="topic faculty">
          {{#each attributes.faculty}}
          <li class="related_item faculty">{{attributes.full_name}}</li>
          {{/each}}
        </ul>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </li>
    {{/if}}

  </ul>

</div>

