<!--faculty-->
<div class="title_row">
  <span class="item_title faculty_name">
    {{full_name}}
  </span> 
  <span class="prime_relations">

    {{#if works}}
    <span class="prime_relation works">
      <span class="count">
        {{works.length}}
      </span>
      <span class="relation_text">
        works
      </span>
    </span>
    {{/if }}

    {{#if collaborators}}
    <span class="prime_relation collaborators">
      <span class="relation_text">
        with
      </span>
      <span class="count">
        {{collaborators.length}}
      </span>
      <span class="relation_text">
        collaborators
      </span>
    </span>
    {{/if }}

    {{#if related_locations}}
    <span class="prime_relation related_locations">
      <span class="relation_text">
        in
      </span>
      <span class="count">
        {{related_locations.length}}
      </span>
      <span class="relation_text">
        locations
      </span>
    </span>
    {{/if }}

  </span>

</div>

<div class="details">
  <div class="faculty_details">

  {{#if home_page}}
    <span class="detail">
    <a href="{{home_page}}" target="_blank">
      home page
      <span class="glyphicon glyphicon-link"> </span>
    </a> 
    </span>
  {{/if}}

  {{#if email}}
    <span class="detail">
    <a href="mailto:{{email}}" target="_blank">
      email
      <span class="glyphicon glyphicon-envelope"> </span>
    </a> 
    </span>
  {{/if}}

  </div>
  
  <ul class="relations">

    {{#if works}}
    <li class="relation">
      <span class="relation_label">Projects:</span>
      <ul class="works">
        {{#each works}}
        <li class="related_item work">
          <span class="work_title"> {{attributes.title}} </span>
          <!--<span class="work_type">{{collection.config.niceTypeName}}</span>-->
        </li>
        {{/each}}
      </ul>
    </li>
    {{/if}}

    {{#if collaborators}}
    <li class="relation">
      <span class="relation_label">Collaborators:</span>
      <ul class="collaborators">
        {{#each collaborators}}
        <li class="related_item faculty">
          <span class="faculty_name"> {{related_item.attributes.full_name}} </span>
          (<span class="count">{{bridges.length}}</span> projects)
        </li>
        {{/each}}
      </ul>
    </li>
    {{/if}}


    {{#if related_locations}}
    <li class="relation">
      <span class="relation_label">Research Locations:</span>
      <ul class="related_locations">
        {{#each related_locations}}
        <li class="related_item location">
          <span class="location_name"> {{related_item.attributes.name}} </span>
          (<span class="count">{{bridges.length}}</span> projects)
        </li>
        {{/each}}
      </ul>
    </li>
    {{/if}}

    {{#if work_interests}}
    <li class="relation">
      <span class="relation_label">Research Topics:</span>
      <ul class="work_interests">
        {{#each work_interests}}
        <li class="related_item topic">
          <span class="topic_name"> {{related_item.attributes.name}} </span>
          (<span class="count">{{bridges.length}}</span> projects)
        </li>
        {{/each}}
      </ul>
    </li>
    {{/if}}

  </ul>

</div>

