<!--topic-->
<div class="title-row">
  <span class="title topic-name">
    {{display}}
  </span>
  {{#if parents}}:
  <ul class="parents">
    {{#each parents}}
      <li class="parent topic-name">{{display}}</li>
    {{/each}}
  </ul>
  {{/if}}
</div>
{{#if related_faculty}}
<div class="related_faculty">
  <div class="related_faculty-count">
    worked on by {{related_faculty.length}} faculty
  </div>
  <ul class="related_faculty-items">
{{#each related_faculty}}
    <li class="faculty">
    {{related_item.attributes.full_name}} ({{bridges.length}} works)
    </li>
{{/each}}
  </ul>
</div>
{{/if}}
{{#if relations}}
<ul class="relations">
  {{#each relations}}
  <li class="relation">
    <span class="relation-description">
      {{display}}
    </span>
    <span class="relation-count">
      {{count}}
    </span>
    <span class="relation-description">
      {{type}}
    </span>
  </li>
  {{/each}}
  {{#each related_topics}}
  {{related_item.attributes.name}} ({{bridges.length}} shared works)
  {{/each}}
</ul>
{{/if}}
<!--spans:-->
  <!--?partner_topics_by_work-->
  <!--?partner_topics_by_faculty-->

